[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Xfce4 Timer
Name[ar]=منبه إكسفس 4
Name[ast]=Xfce4 Timer
Name[bg]=Xfce4 Брояч
Name[ca]=Temporitzador de Xfce4
Name[cs]=Odpočet času pro Xfce4
Name[da]=Xfce4-timer
Name[de]=Xfce4-Zeitschaltuhr
Name[el]=Χρονόμετρο xfce4
Name[en_AU]=Xfce4 Timer
Name[en_GB]=Xfce4 Timer
Name[es]=Temporizador de Xfce4
Name[eu]=Xfce4 kronometroa
Name[fr]=Chronomètre Xfce4
Name[gl]=Xfce4 Timer
Name[he]=קוצב זמן Xfce4 
Name[hr]=Xfce4 Mjerač vremena
Name[hu]=Xfce 4 időzítő
Name[id]=Pengukur Waktu Xfce4
Name[is]=Xfce4 tímamæling
Name[it]=Sveglia di Xfce4
Name[ja]=Xfce4 タイマー
Name[ko]=Xfce4 타이머
Name[lt]=Xfce4 laikmatis
Name[lv]=Xfce4 Taimeris
Name[ms]=Pemasa Xfce4
Name[nb]=Xfce4 Tidtaker
Name[nl]=Xfce4-Tijdmeter
Name[oc]=Cronomètre Xfce4
Name[pl]=Minutnik
Name[pt]=Temporizador Xfce4
Name[pt_BR]=Temporizador do Xfce4
Name[ru]=Таймер Xfce4
Name[sk]=Časovač Xfce4
Name[sq]=Kohës Xfce4
Name[sr]=ИксФЦЕ бројач времена
Name[sv]=Xfce4-tidtagare
Name[th]=นาฬิกาปลุก Xfce4
Name[tr]=XFCE4 Alarm Eklentisi -- XFCE4 Timer
Name[ug]=Xfce4 ۋاقىت ئۆلچىگۈچى
Name[uk]=Таймер Xfce4
Name[ur]=ایکسفس4 ٹائمر
Name[ur_PK]=ایکسفس4 ٹائمر
Name[zh_CN]=Xfce 定时器
Name[zh_TW]=Xfce4 定時器
Comment=Timer plugin for Xfce panel
Comment[ar]=التنبيه، ملحق لوحة إكس
Comment[ast]=Complementu temporizador pal panel de Xfce
Comment[bg]=Добавка брояч за панела на Xfce
Comment[ca]=Connector de temporitzador per al plafó de Xfce
Comment[cs]=Zásuvný modul pro odpočítávání času pro panel Xfce
Comment[da]=Timer-udvidelsesmodul til Xfce panelet
Comment[de]=Zeitschaltuhrerweiterung für die Xfce-Leiste
Comment[el]=Άρθρωμα χρονομέτρου για το ταμπλό του Xfce
Comment[en_AU]=Timer plugin for Xfce panel
Comment[en_GB]=Timer plugin for Xfce panel
Comment[es]=Complemento temporizador para el panel de Xfce
Comment[eu]=Xfce panelarentzat kronometro plugin-a
Comment[fr]=Greffon de chronomètre pour le tableau de bord Xfce
Comment[gl]=Engadido de temporizador para o panel de Xfce
Comment[he]=תוסף קוצב זמן עבור פאנל Xfce 
Comment[hr]=Priključak mjerača vremena za Xfce4 ploču
Comment[hu]=Időzítő bővítmény az Xfce panelhez
Comment[id]=Plugin pengukur waktu untuk panel Xfce
Comment[is]=Tímamælingarviðbót fyrir Xfce4 skjástikur
Comment[it]=Plugin della sveglia per il pannello di Xfce
Comment[ja]=Xfce パネル用のタイマープラグインです。
Comment[ko]=Xfce 패널용 타이머 플러그인
Comment[lt]=Laikmačio įskiepis, skirtas Xfce skydeliui
Comment[lv]=Taimera spraudnis Xfce panelim
Comment[ms]=Pemalam pemasa untuk panel Xfce
Comment[nb]=Tidtaker-plugin for Xfce panel
Comment[nl]=Tijdmeter-invoegtoepassing voor Xfce4-werkbalk
Comment[oc]=Empeuton del cronomètre pel panèl Xfce
Comment[pl]=Odmierza ustalony czas
Comment[pt]="Plug-in" para painel Xfce
Comment[pt_BR]=Plugin temporizador para o painel do Xfce
Comment[ru]=Модуль таймера для панели Xfce
Comment[sk]=Zásuvný modul Časovač pre panel Xfce
Comment[sq]=Shtojcë kohësi për panelin e Xfce
Comment[sr]=Прикључак бројача на ИксФЦЕ полици
Comment[sv]=Tidtagare för Xfce-panelen
Comment[th]=ปลั๊กอินนาฬิกาปลุกสำหรับพาเนล Xfce
Comment[tr]=XFCE paneli için alarm eklentisi
Comment[ug]=Xfce نىڭ ۋاقىت ئۆلچىگۈچ قىستۇرمىسى
Comment[uk]=Плагін Таймер для панелі Xfce
Comment[ur]=ٹائمر پلگ ان برائے ایکسفس 4.4 پینل
Comment[ur_PK]=ٹائمر پلگ ان برائے ایکسفس 4.4 پینل
Comment[zh_CN]=Xfce 面板的定时器插件
Comment[zh_TW]=Xfce 面板的定時器插件
Icon=xfce4-timer
X-XFCE-Internal=false
X-XFCE-Exec=/usr/libexec/xfce4/panel-plugins/xfce4-timer


